body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background {
    height: 85vh;
    width: 100%;
    background-color: #6dd47e;
    display: grid;    
    justify-content: center;
    
}

.quest_div {
    height: 22vh;
    width: 70vw;

    background-color: #ffd55a;

    margin: auto;
    margin-top: 150px;
    align-items: center;

    border-radius: 10px;
}

.quest_div p {
    font-size: 20px;
    padding-left: 20px;
    
}

.answers {
    display: flex;
    margin:auto;
    margin-top: -100px;  
}

.answers div {
    display: grid;
}

.answers button {
    height: 50px;
    width: 30vw;

    margin-left: 20px;
    margin-top: 10px;

    border: none;
    border-radius: 5px;
    
    cursor:pointer;
    outline: none;
}


.part1:first-child {
    margin-left: -20px;
}

